<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="admin/public/head::head(~{::title},~{::style},~{})">
    <title>添加商品信息-贝贝母婴后台管理系统</title>
    <style>
        .gallery .img-item {
            position: relative;
        }

        .gallery .img-item .delete {
            position: absolute;
            display: block;
            width: 20px;
            height: 20px;
            color: #fff;
            background: rgba(0, 0, 0, 0.7);
            line-height: 20px;
            text-align: center;
            border-radius: 50%;
            top: 25px;
            right: 25px;
            cursor: pointer;
        }

        .img {
            width: 300px;
            margin: 20px;
        }
    </style>


</head>
<body>
<div class="main-wrap">
	<div th:replace="admin/public/left-menu::left-menu"></div>
	<div class="content-wrap">
		<header th:replace="admin/public/top-menu::top-menu"></header>
		<main id="main" class="main-cont content mCustomScrollbar">
			<div class="page-wrap">
				<!--开始::内容-->
				<section class="page-hd">
					<header>
						<h2 class="title">添加商品信息</h2>
						<p class="title-description">
							添加商品信息，发布商品内容
						</p>
					</header>
					<hr>
				</section>
                <div id="process" class="panel panel-default">
                    <div class="panel-hd">添加商品信息进度</div>
                    <div class="panel-bd">
                        <div class="serial-number">
                            <ul>
                                <li v-bind:class="{'progressing':step>=1}">
                                    <span>基础信息</span>
                                </li>
                                <li v-bind:class="{'progressing':step>=2}">
                                    <span>详细描述</span>
                                </li>
                                <li v-bind:class="{'progressing':step>=3}">
                                    <span>颜色尺寸</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
				<form method="post" id="form" v-if="step==1">
					<div class="form-group-col-2">
						<div class="form-label">商品名称：</div>
						<div class="form-cont">
							<input type="text" name="goodsName" id="goodsName" placeholder="商品名称..." class="form-control form-boxed" style="width:300px;">
						</div>
					</div>
					<div class="form-group-col-2">
						<div class="form-label">商品库存：</div>
						<div class="form-cont">
							<input type="number" name="goodsStock" id="goodsStock" placeholder="商品库存..." class="form-control form-boxed" style="width:300px;">
						</div>
					</div>
					<div class="form-group-col-2">
						<div class="form-label">商品价格：</div>
						<div class="form-cont">
							<input type="number" name="goodsPrice" id="goodsPrice" placeholder="商品价格..." class="form-control form-boxed" style="width:300px;">
						</div>
					</div>
					<div class="form-group-col-2">
						<div class="form-label">商品原价：</div>
						<div class="form-cont">
							<input type="number" name="promotionPrice" id="promotionPrice" placeholder="商品原价..." class="form-control form-boxed" style="width:300px;">
						</div>
					</div>
                    <div class="form-group-col-2">
                        <div class="form-label">商标：</div>
                        <div class="form-cont">
                            <input type="text" name="brand" id="brand" placeholder="商标..." class="form-control form-boxed" style="width:300px;">
                        </div>
                    </div>
					<div class="form-group-col-2">
						<div class="form-label">商品类别：</div>
						<div class="form-cont">
							<select name="gclassId" id="gclassId" style="width:300px;">
								<option value="">请选择分类</option>
                                <th:block th:each="item:${list}">
                                    <option th:value="${item.gclassId}" th:text="${item.classifyName}"></option>
                                </th:block>
							</select>
						</div>
					</div>
					<div class="form-group-col-2">
						<div class="form-label"></div>
						<div class="form-cont">
							<input type="button" @click="subForm" class="btn btn-primary" value="提交表单" />
						</div>
					</div>
				</form>
                <div id="plus">
                <form method="post" id="detial" v-if="step==2">
                    <input type="hidden" name="goodsId" v-bind:value="goodsId">
                    <div class="form-group-col-2">
                        <div class="form-label">材质：</div>
                        <div class="form-cont">
                            <input type="text" name="material" id="material" placeholder="商品材质..." class="form-control form-boxed" style="width:300px;">
                        </div>
                    </div>
                    <div class="form-group-col-2">
                        <div class="form-label">商品类型：</div>
                        <div class="form-cont">
                            <input type="text" name="type" id="type" placeholder="商品类型，如通用..." class="form-control form-boxed" style="width:300px;">
                        </div>
                    </div>
                    <div class="form-group-col-2">
                        <div class="form-label">图片详情：</div>
                        <div class="form-cont">
                            <div id="upload" @click="chooseImg" class="btn btn-primary">选择图片</div>
                            <input id="file" @change="fileChange" type="file" multiple style="display:none">
                            <div class="gallery" id="gallery"></div>
                        </div>
                    </div>
                    <div class="form-group-col-2">
                        <div class="form-label"></div>
                        <div class="form-cont">
                            <input type="button" @click="subDetial" class="btn btn-primary" value="提交表单" />
                        </div>
                    </div>
                </form>

                <form method="post" id="goodsitem" v-if="step==3">
                    <ul class="flex flex-wrap flex-col-12">
                        <li v-for="(item, index) in goodsItems" class="box-child">
                            <!--panel-primary-->
                            <div :class="{'panel-secondary':index%2 != 0}" class="panel panel-primary">
                                <div class="panel-hd">颜色/规格：{{item.itemName}}</div>
                                <div class="panel-bd">
                                    库存数量：{{item.num}}
                                </div>
                            </div>
                        </li>
                    </ul>
                    <input type="hidden" name="goodsId" v-bind:value="goodsId">
                    <div class="form-group-col-2">
                        <div class="form-label">颜色/规格：</div>
                        <div class="form-cont">
                            <input type="text" name="itemName" id="itemName" placeholder="颜色/规格..." class="form-control form-boxed" style="width:300px;">
                        </div>
                    </div>
                    <div class="form-group-col-2">
                        <div class="form-label">库存数量：</div>
                        <div class="form-cont">
                            <input type="number" name="num" id="num" placeholder="库存数量..." class="form-control form-boxed" style="width:300px;">
                        </div>
                    </div>
                    <div class="form-group-col-2">
                        <div class="form-label"></div>
                        <div class="form-cont">
                            <input type="button" @click="add" class="btn btn-primary" value="添加" />
                            <input type="button" onclick="location.reload()" class="btn btn-primary" value="完成" />
                        </div>
                    </div>
                </form>
                </div>
				<!--开始::结束-->
			</div>
		</main>
		<footer th:replace="admin/public/footer::footer"></footer>
	</div>
</div>
</body>
<script th:src="@{/admin/plugs/vue/vue.js}"></script>
<script th:inline="javascript">

    //上传图片
    var files = [];
    var that = this;
    var step = 1;//默认第一步开始
    window.onload = function(){
        var process = new Vue({
            el: '#main',
            data: {
                step: step,
                goodsId:null,
                goodsItems:null,
            },
            methods:{
                subForm:function(){
                    var nameArr = {'goodsName':"商品名称",
                        'goodsStock':"商品库存",
                        'goodsPrice':"商品价格",
                        'promotionPrice':"商品原价",
                        'brand':"商标",
                        'gclassId':"商品类别"};
                    var msg = this.notNullCheck(nameArr);
                    if (msg!=true){
                        layer.msg(msg, {icon: 2,time:1500});
                        return;
                    }
                    $.ajax({
                        type: "POST",
                        url: baseName+"/admin/goods/goodsAdd",
                        data: $("#form").serialize(),
                        success : function (data) {
                            if (data.state == 1){
                                layer.msg(data.msg, {icon: 1,time:1500});
                                process.$data.step=data.step;
                                process.$data.goodsId=data.goodsId;

                            }else{
                                layer.msg(data.msg, {icon: 2,time:1500});
                            }
                        }
                    })

                },
                chooseImg:function(){//选择图片
                    $("#file").trigger("click");
                },
                fileChange:function(){//监听图片选择事件
                    document.getElementById("gallery").innerHTML = "";
                    var img = document.getElementById("file").files;
                    var div = document.createElement("div");
                    for (var i = 0; i < img.length; i++) {
                        var file = img[i];
                        var url = URL.createObjectURL(file);
                        var box = document.createElement("img");
                        box.setAttribute("src", url);
                        box.className = 'img';
                        var imgBox = document.createElement("div");
                        imgBox.style.display = 'inline-block';
                        imgBox.className = 'img-item';
                        var deleteIcon = document.createElement("span");
                        deleteIcon.className = 'delete';
                        deleteIcon.innerText = 'x';
                        deleteIcon.dataset.filename = img[i].name;
                        imgBox.appendChild(deleteIcon);

                        imgBox.appendChild(box);
                        var body = document.getElementsByClassName("gallery")[0];
                        body.appendChild(imgBox);

                        that.files = img;
                        $(deleteIcon).click(function () {
                            var filename = $(this).data("filename");
                            $(this).parent().remove();
                            var fileList = Array.from(that.files);
                            for (var j = 0; j < fileList.length; j++) {
                                if (fileList[j].name = filename) {
                                    fileList.splice(j, 1);
                                    break;
                                }
                            }
                            that.files = fileList
                        })
                    }
                },
                subDetial:function(){//提交事件
                    var nameArr = {'material':"材质",
                        'type':"商品类型"};
                    var msg = this.notNullCheck(nameArr);
                    if (msg!=true){
                        layer.msg(msg, {icon: 2,time:1500});
                        return;
                    }
                    var files = that.files;
                    var uploadFile = new FormData($("#detial")[0]);
                    for (var i = 0; i < files.length; i++) {
                        uploadFile.append('imgs[]', files[i]);
                    }
                    if ("undefined" != typeof(uploadFile) && uploadFile != null && uploadFile != "") {
                        $.ajax({
                            url: baseName + "/admin/goods/addGoodsDetial",
                            type: 'POST',
                            data: uploadFile,
                            async: false,
                            cache: false,
                            contentType: false, //不设置内容类型
                            processData: false, //不处理数据
                            success: function (data) {
                                if (data.state == 1) {
                                    layer.msg(data.msg, {icon: 1, time: 1500});
                                    process.$data.step = data.step;
                                } else {
                                    layer.msg(data.msg, {icon: 2, time: 1500});
                                }

                            }, error: function () {
                                layer.msg("提交失败！", {icon: 2, time: 1500});
                            }
                        })
                    } else {
                        layer.msg("请选择图片！", {icon: 2, time: 1500});
                    }
                },
                add:function(){
                    var nameArr = {'itemName':"颜色/规格",'num':"库存数量"};
                    var msg = this.notNullCheck(nameArr);
                    if (msg!=true){
                        layer.msg(msg, {icon: 2,time:1500});
                        return;
                    }
                    $.ajax({
                        type: "POST",
                        url: baseName+"/admin/goods/goodsitemAdd",
                        data: $("#goodsitem").serialize(),
                        success : function (data) {
                            if (data.state == 1){
                                layer.msg(data.msg, {icon: 1,time:1500});
                                process.$data.goodsItems=data.goodsItems;
                            }else{
                                layer.msg(data.msg, {icon: 2,time:1500});
                            }
                        }
                    })
                },
                notNullCheck: function(inputNameArr){
                    for (var key in inputNameArr){
                        var val = $("#"+key).val();
                        if (val==null || val=="" ||val==undefined)
                            return inputNameArr[key]+"不能为空！";
                    }
                    return true;
                }

            }
        });
    }

</script>
</html>
