<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<footer th:fragment="footer" class="btm-ft">
    <p class="clear">
        <span class="fl">©Copyright 2018 <a href="#" title="DeathGhost" target="_blank">bbmy.cn</a></span>
        <span class="fr text-info">
            <em class="uppercase">
                <i class="icon-user"></i>
                author:BBMY
            </em> |
            <em class="uppercase"><i class="icon-envelope-alt"></i>
                更多好货： <a href="#" target="_blank">贝贝母婴</a>
            </em>
            <a onclick="reciprocate()" class="text-primary"><i class="icon-qrcode"></i>捐赠</a>
        </span>
    </p>
</footer>